* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(99, 29, 17);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

.titulo {
  text-align: center;
  padding: 15px;
  width: 30vw;
  margin: auto;
  color: rgb(245, 243, 243);

}

.box {
  padding: 10px;
  margin: 0 10px 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgb(180, 179, 179);
  border-radius: 0.0em;
  width: 30vw;
  height: auto;
}

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: rgb(80, 80, 82);
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.0em;
}

.text-input {
  font-size: 18;
  border-radius: 0.0em;
  border: 1px solid rgba(19, 19, 19, 0.2);
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 250px;
}

.piedepagina {
  color: rgb(247, 247, 247);
  margin: auto;
  text-align: center;
}

.subtitulo{
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.aviso{
  color: black;
  font-size: 18px;
}